{% for domain in opendkim.domains %}
{{ inventory_hostname_short }}._domainkey.{{ domain }} {{ domain }}:{{ opendkim.selector }}:/etc/opendkim/{{ domain }}/{{ opendkim.selector }}.private
{% endfor %}
